<nav>
        <div class="menu">
            <div class="nav__logo" id="logo">
                <img src="assets/images/cuda.png" alt="logo">
            </div>
            <div class="nav__list">
                <ul>
                    <li>
                        <a href="#">HOME</a>
                    </li>
                    <li>
                        <a href="#">ABOUT</a>
                    </li>
                    <li>
                        <a href="#">WORK</a>
                    </li>
                    <li>
                        <a href="#">BLOG</a>
                    </li>
                    <li>
                        <a href="#">CONTACT</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>